WS_GENASYS.ClienteDemo/Web References/DatosPersonalesServiceProxy/DatosPersonalesService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="DatosPersonalesService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:65219/DatosPersonalesService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:65219/DatosPersonalesService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:65219/DatosPersonalesService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WS_GENASYS.Service" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDatosPersonalesService_ConsultarDatos_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarDatos" />
  </wsdl:message>
  <wsdl:message name="IDatosPersonalesService_ConsultarDatos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarDatosResponse" />
  </wsdl:message>
  <wsdl:message name="IDatosMediodePagoService_ConsultarMedioPago_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarMedioPago" />
  </wsdl:message>
  <wsdl:message name="IDatosMediodePagoService_ConsultarMedioPago_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarMedioPagoResponse" />
  </wsdl:message>
  <wsdl:portType name="IDatosPersonalesService">
    <wsdl:operation name="ConsultarDatos">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatosPersonalesService/ConsultarDatos" message="tns:IDatosPersonalesService_ConsultarDatos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatosPersonalesService/ConsultarDatosResponse" message="tns:IDatosPersonalesService_ConsultarDatos_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IDatosMediodePagoService">
    <wsdl:operation name="ConsultarMedioPago">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatosMediodePagoService/ConsultarMedioPago" message="tns:IDatosMediodePagoService_ConsultarMedioPago_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatosMediodePagoService/ConsultarMedioPagoResponse" message="tns:IDatosMediodePagoService_ConsultarMedioPago_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDatosPersonalesService" type="tns:IDatosPersonalesService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultarDatos">
      <soap:operation soapAction="http://tempuri.org/IDatosPersonalesService/ConsultarDatos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IDatosMediodePagoService" type="tns:IDatosMediodePagoService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultarMedioPago">
      <soap:operation soapAction="http://tempuri.org/IDatosMediodePagoService/ConsultarMedioPago" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DatosPersonalesService">
    <wsdl:port name="BasicHttpBinding_IDatosPersonalesService" binding="tns:BasicHttpBinding_IDatosPersonalesService">
      <soap:address location="http://localhost:65219/DatosPersonalesService.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IDatosMediodePagoService" binding="tns:BasicHttpBinding_IDatosMediodePagoService">
      <soap:address location="http://localhost:65219/DatosPersonalesService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>