WS_GENASYS.Agente/Service References/ProdSvcInqV1/MFX11_ProdSvcInqV1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:mfx11="http://mfxV1_1" xmlns="http://mfxV1_1" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://mfxV1_1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="AgenciaCod" type="mfx11:AgenciaCod_Type" />
  <xsd:element name="OpnInfoRqHdr" type="mfx11:OpnInfoRqHdr_Type" />
  <xsd:element name="CardInqRef" type="mfx11:CardInqRef_Type" />
  <xsd:element name="CardSec" type="xsd:string" />
  <xsd:element name="ClientApp" type="mfx11:ClientApp_Type" />
  <xsd:element name="ClientCod" type="mfx11:AppCod_Type" />
  <xsd:element name="ClientCodAdic" type="mfx11:AppCodAdic_Type" />
  <xsd:element name="ClientCtxId" type="mfx11:ClientCtxId_Type" />
  <xsd:element name="ClientCtxIdLst" type="mfx11:ClientCtxIdLst_Type" />
  <xsd:element name="ClientCtxIdTp" type="mfx11:ClientCtxIdTp_Type" />
  <xsd:element name="ClientCtxIdVal" type="mfx11:ClientCtxIdVal_Type" />
  <xsd:element name="ClientFec" type="xsd:dateTime" />
  <xsd:element name="ClientProxy" type="mfx11:ClientProxy_Type" />
  <xsd:element name="ClientTrmApp" type="mfx11:ClientTrmApp_Type" />
  <xsd:element name="ClientTrmId" type="mfx11:ClientTrmId_Type" />
  <xsd:element name="ClientTrmServ" type="mfx11:ClientTrmServ_Type" />
  <xsd:element name="ClsEstProdCod" type="mfx11:ClsEstProdCod_Type" />
  <xsd:element name="CredencialRqHdr" type="mfx11:CredencialRqHdr_Type" />
  <xsd:element name="CredencialRqHdrLst" type="mfx11:CredencialRqHdrLst_Type" />
  <xsd:element name="CredencialRsHdr" type="mfx11:CredencialRsHdr_Type" />
  <xsd:element name="Ctd" type="xsd:long" />
  <xsd:element name="CtxRqHdr" type="mfx11:CtxRqHdr_Type" />
  <xsd:element name="CtxRsHdr" type="mfx11:CtxRsHdr_Type" />
  <xsd:element name="EncrTp" type="xsd:string" />
  <xsd:element name="ExtornoFlg" type="mfx11:TrueFalse" />
  <xsd:element name="FecVct" type="mfx11:FecHr" />
  <xsd:element name="GenSesTokenFlg" type="mfx11:TrueFalse" />
  <xsd:element name="Login" type="mfx11:Login_Type" />
  <xsd:element name="MonCod" type="mfx11:MonCod_Type" />
  <xsd:element name="MsjRqHdr" type="mfx11:MsjRqHdr_Type" />
  <xsd:element name="MsjRsHdr" type="mfx11:MsjRsHdr_Type" />
  <xsd:element name="NroSec" type="xsd:long" />
  <xsd:element name="OpnExtornoNro" type="mfx11:OpnNro_Type" />
  <xsd:element name="OpnNro" type="mfx11:OpnNro_Type" />
  <xsd:element name="OrgCod" type="mfx11:OrgCod_Type" />
  <xsd:element name="Password" type="mfx11:Password_Type" />
  <xsd:element name="PasswordAdic" type="xsd:string" />
  <xsd:element name="PasswordEncr" type="xsd:string" />
  <xsd:element name="PasswordVal" type="xsd:string" />
  <xsd:element name="ProdEmpAutzFlg" type="mfx11:TrueFalse" />
  <xsd:element name="ProdEspAutzFlg" type="mfx11:TrueFalse" />
  <xsd:element name="ProdNro" type="mfx11:ProdNro_Type" />
  <xsd:element name="ReenvioFlg" type="mfx11:TrueFalse" />
  <xsd:element name="RqUID" type="mfx11:UUID" />
  <xsd:element name="SegRol" type="mfx11:SegRol_Type" />
  <xsd:element name="SegRpta" type="xsd:string" />
  <xsd:element name="SegRptaEncr" type="xsd:string" />
  <xsd:element name="SegRqHdr" type="mfx11:SegRqHdr_Type" />
  <xsd:element name="SegRsHdr" type="mfx11:SegRsHdr_Type" />
  <xsd:element name="SegSecreto" type="xsd:string" />
  <xsd:element name="SegTokenCard" type="mfx11:SegTokenCard_Type" />
  <xsd:element name="SegTokenKey" type="mfx11:SegTokenKey_Type" />
  <xsd:element name="SegTokenLogin" type="mfx11:SegTokenLogin_Type" />
  <xsd:element name="SegTokenRpta" type="mfx11:SegTokenRpta_Type" />
  <xsd:element name="SegTokenUsr" type="mfx11:SegTokenUsr_Type" />
  <xsd:element name="ServFec" type="xsd:dateTime" />
  <xsd:element name="ServStatus" type="mfx11:ServStatus_Type" />
  <xsd:element name="ServStatusCod" type="mfx11:ServStatusCod_Type" />
  <xsd:element name="ServTrmId" type="xsd:string" />
  <xsd:element name="SesKey" type="xsd:string" />
  <xsd:element name="Severidad" type="mfx11:Severidad_Type" />
  <xsd:element name="SPCod" type="mfx11:AppCod_Type" />
  <xsd:element name="Status" type="mfx11:Status_Type" />
  <xsd:element name="StatusAdic" type="mfx11:StatusAdic_Type" />
  <xsd:element name="StatusAdicLst" type="mfx11:StatusAdicLst_Type" />
  <xsd:element name="StatusCod" type="xsd:string" />
  <xsd:element name="StatusDes" type="xsd:string" />
  <xsd:element name="StoreForwardFlg" type="mfx11:TrueFalse" />
  <xsd:element name="SucursalCod" type="mfx11:SucursalCod_Type" />
  <xsd:element name="TrnNivelAutz" type="mfx11:TrnNivelAutz_Type" />
  <xsd:element name="Ver" type="mfx11:Ver_Type" />
  <xsd:element name="TrnTp" type="xsd:string" />
  <xsd:element name="MtoTpCambioMon" type="mfx11:Porc_Type" />
  <xsd:element name="OpnRef" type="xsd:string" />
  <xsd:simpleType name="AgenciaCod_Type">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[0-9a-zA-Z]{3}" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="AppCod_Type">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[0-9a-zA-Z]{2}" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="AppCodAdic_Type">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[0-9a-zA-Z]{4}" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="CardInqRef_Type">
    <xsd:sequence>
      <xsd:element ref="mfx11:ProdNro" />
      <xsd:element minOccurs="0" ref="mfx11:ClsEstProdCod" />
      <xsd:element minOccurs="0" ref="mfx11:MonCod" />
      <xsd:element minOccurs="0" ref="mfx11:CardSec" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ClientApp_Type">
    <xsd:sequence>
      <xsd:element ref="mfx11:OrgCod" />
      <xsd:element minOccurs="0" ref="mfx11:ClientCtxIdLst" />
      <xsd:element ref="mfx11:ClientCod" />
      <xsd:element minOccurs="0" ref="mfx11:ClientCodAdic" />
      <xsd:element minOccurs="0" ref="mfx11:Ver" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ClientCtxId_Type">
    <xsd:sequence>
      <xsd:element ref="mfx11:ClientCtxIdTp" />
      <xsd:element ref="mfx11:ClientCtxIdVal" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ClientCtxIdLst_Type">
    <xsd:sequence>
      <xsd:element ref="mfx11:Ctd" />
      <xsd:element maxOccurs="unbounded" ref="mfx11:ClientCtxId" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="ClientCtxIdTp_Type">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="20" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ClientCtxIdVal_Type">
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:complexType name="ClientProxy_Type">
    <xsd:complexContent mixed="false">
      <xsd:extension base="mfx11:ClientApp_Type" />
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="ClientTrmApp_Type">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="15" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="ClientTrmId_Type">
    <xsd:sequence>
      <xsd:element minOccurs="0" ref="mfx11:ClientTrmServ" />
      <xsd:element minOccurs="0" ref="mfx11:ClientTrmApp" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="ClientTrmServ_Type">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="4" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ClsEstProdCod_Type">
    <xsd:restriction base="xsd:string">
      <xsd:length value="3" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="CredencialRqHdr_Type">
    <xsd:sequence>
      <xsd:element ref="mfx11:NroSec" />
      <xsd:element ref="mfx11:SegRol" />
      <xsd:element minOccurs="0" ref="mfx11:GenSesTokenFlg" />
      <xsd:sequence>
        <xsd:element minOccurs="0" ref="mfx11:SegTokenUsr" />
        <xsd:element minOccurs="0" ref="mfx11:SegTokenCard" />
        <xsd:element minOccurs="0" ref="mfx11:SegTokenKey" />
        <xsd:element minOccurs="0" ref="mfx11:SegTokenLogin" />
        <xsd:element minOccurs="0" ref="mfx11:SegTokenRpta" />
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CredencialRqHdrLst_Type">
    <xsd:sequence>
      <xsd:element ref="mfx11:Ctd" />
      <xsd:element maxOccurs="unbounded" ref="mfx11:CredencialRqHdr" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CredencialRsHdr_Type">
    <xsd:sequence>
      <xsd:element minOccurs="0" ref="mfx11:Status" />
      <xsd:element minOccurs="0" ref="mfx11:NroSec" />
      <xsd:element minOccurs="0" ref="mfx11:SesKey" />
      <xsd:element minOccurs="0" ref="mfx11:FecVct" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CtxRqHdr_Type">
    <xsd:sequence>
      <xsd:element ref="mfx11:ClientFec" />
      <xsd:element minOccurs="0" ref="mfx11:ClientTrmId" />
      <xsd:element ref="mfx11:OpnNro" />
      <xsd:element minOccurs="0" ref="mfx11:OpnExtornoNro" />
      <xsd:element ref="mfx11:ClientApp" />
      <xsd:element minOccurs="0" ref="mfx11:ClientProxy" />
      <xsd:element minOccurs="0" ref="mfx11:StoreForwardFlg" />
      <xsd:element minOccurs="0" ref="mfx11:ReenvioFlg" />
      <xsd:element minOccurs="0" ref="mfx11:SucursalCod" />
      <xsd:element minOccurs="0" ref="mfx11:ExtornoFlg" />
      <xsd:element minOccurs="0" ref="mfx11:AgenciaCod" />
      <xsd:element minOccurs="0" ref="mfx11:SPCod" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CtxRsHdr_Type">
    <xsd:sequence>
      <xsd:element ref="mfx11:ServFec" />
      <xsd:element minOccurs="0" ref="mfx11:ClientTrmId" />
      <xsd:element ref="mfx11:OpnNro" />
      <xsd:element ref="mfx11:ClientApp" />
      <xsd:element minOccurs="0" ref="mfx11:SPCod" />
      <xsd:element minOccurs="0" ref="mfx11:ServTrmId" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="FecHr">
    <xsd:annotation>
      <xsd:documentation>Fecha y Hora flexible en contenido, similar al tipo xsd:dateTime, pero con la parte de la hora alternativa</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[1-9][0-9]{3}-((0[1-9])|(1[0-2]))-((0[1-9])|([1-2][0-9])|(3[0-1]))(T(([0-1][0-9])|(2[0-4])):[0-5][0-9]:[0-5][0-9](\.[0-9]+)?)?((-|\+)[0-1][0-4]:[0-5][0-9])?" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Login_Type">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="20" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="MonCod_Type">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[0-9]{4}" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="MsjRqHdr_Type">
    <xsd:sequence>
      <xsd:element ref="mfx11:SegRqHdr" />
      <xsd:element ref="mfx11:CtxRqHdr" />
      <xsd:element minOccurs="0" ref="mfx11:OpnInfoRqHdr" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MsjRsHdr_Type">
    <xsd:sequence>
      <xsd:element minOccurs="0" ref="mfx11:SegRsHdr" />
      <xsd:element minOccurs="0" ref="mfx11:CtxRsHdr" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="OpnInfoRqHdr_Type">
    <xsd:sequence>
      <xsd:element ref="mfx11:TrnTp" />
      <xsd:element ref="mfx11:OpnRef" />
      <xsd:element minOccurs="0" ref="mfx11:IDC" />
      <xsd:element minOccurs="0" ref="mfx11:ProdNro" />
      <xsd:element minOccurs="0" ref="mfx11:Mto" />
      <xsd:element minOccurs="0" ref="mfx11:MonCod" />
      <xsd:element minOccurs="0" ref="mfx11:MtoTpCambioMon" />
      <xsd:element minOccurs="0" ref="mfx11:ClientCtxIdLst" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="OpnNro_Type">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="8" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="OrgCod_Type">
    <xsd:restriction base="xsd:string">
      <xsd:length value="1" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="Password_Type">
    <xsd:sequence>
      <xsd:element minOccurs="0" ref="mfx11:EncrTp" />
      <xsd:sequence>
        <xsd:element minOccurs="0" ref="mfx11:PasswordVal" />
        <xsd:element minOccurs="0" ref="mfx11:PasswordEncr" />
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Porc_Type">
    <xsd:annotation>
      <xsd:documentation>Tipo usado para cualquier pocentaje o tasa</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:decimal">
      <xsd:fractionDigits value="6" />
      <xsd:minInclusive value="-9999.999999" />
      <xsd:maxInclusive value="9999.999999" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ProdNro_Type">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="20" />
      <xsd:pattern value="[0-9a-zA-Z]+" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="SegRol_Type">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="UsuarioApp" />
      <xsd:enumeration value="UsuarioRq" />
      <xsd:enumeration value="UsuarioSupervisor" />
      <xsd:enumeration value="UsuarioCard" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="SegRqHdr_Type">
    <xsd:sequence>
      <xsd:element minOccurs="0" ref="mfx11:ProdEmpAutzFlg" />
      <xsd:element minOccurs="0" ref="mfx11:ProdEspAutzFlg" />
      <xsd:element minOccurs="0" ref="mfx11:TrnNivelAutz" />
      <xsd:element ref="mfx11:CredencialRqHdrLst" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegRsHdr_Type">
    <xsd:sequence>
      <xsd:element ref="mfx11:Ctd" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" ref="mfx11:CredencialRsHdr" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegTokenCard_Type">
    <xsd:sequence>
      <xsd:element ref="mfx11:CardInqRef" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegTokenKey_Type">
    <xsd:sequence>
      <xsd:element ref="mfx11:SesKey" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegTokenLogin_Type">
    <xsd:sequence>
      <xsd:element ref="mfx11:Login" />
      <xsd:element ref="mfx11:Password" />
      <xsd:element minOccurs="0" ref="mfx11:PasswordAdic" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegTokenRpta_Type">
    <xsd:sequence>
      <xsd:element ref="mfx11:SegSecreto" />
      <xsd:element minOccurs="0" ref="mfx11:EncrTp" />
      <xsd:sequence>
        <xsd:element minOccurs="0" ref="mfx11:SegRpta" />
        <xsd:element minOccurs="0" ref="mfx11:SegRptaEncr" />
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegTokenUsr_Type">
    <xsd:sequence>
      <xsd:element ref="mfx11:Login" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ServStatus_Type">
    <xsd:sequence>
      <xsd:element ref="mfx11:ServStatusCod" />
      <xsd:element minOccurs="0" ref="mfx11:Severidad" />
      <xsd:element ref="mfx11:StatusDes" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="ServStatusCod_Type">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="20" />
      <xsd:minLength value="1" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Severidad_Type">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Informacion" />
      <xsd:enumeration value="Advertencia" />
      <xsd:enumeration value="Error" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="Status_Type">
    <xsd:sequence>
      <xsd:element ref="mfx11:StatusCod" />
      <xsd:element ref="mfx11:Severidad" />
      <xsd:element minOccurs="0" ref="mfx11:StatusDes" />
      <xsd:element minOccurs="0" ref="mfx11:ServStatus" />
      <xsd:element minOccurs="0" ref="mfx11:StatusAdicLst" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="StatusAdic_Type">
    <xsd:sequence>
      <xsd:element ref="mfx11:StatusCod" />
      <xsd:element minOccurs="0" ref="mfx11:Severidad" />
      <xsd:element minOccurs="0" ref="mfx11:StatusDes" />
      <xsd:element minOccurs="0" ref="mfx11:ServStatus" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="StatusAdicLst_Type">
    <xsd:sequence>
      <xsd:element ref="mfx11:Ctd" />
      <xsd:element maxOccurs="unbounded" ref="mfx11:StatusAdic" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="SucursalCod_Type">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[0-9a-zA-Z]{3}" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TrnNivelAutz_Type">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Normal" />
      <xsd:enumeration value="UsuarioRq" />
      <xsd:enumeration value="UsuarioSupervisor" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TrueFalse">
    <xsd:annotation>
      <xsd:documentation>TrueFalse indica una condicion de Verdad=1 o Falso=0</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="0" />
      <xsd:enumeration value="1" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="UUID">
    <xsd:annotation>
      <xsd:documentation>Un valor que se utiliza como identificador unico</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:length value="36" />
      <xsd:pattern value="([0-9a-fA-F]){8}(-([0-9a-fA-F]){4})(-([0-9a-fA-F]){4})(-([0-9a-fA-F]){4})(-([0-9a-fA-F]){12})" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Ver_Type">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="5" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:element name="ProdSvcInqRef" type="mfx11:ProdSvcInqRef_Type" />
  <xsd:element name="ProdSvcInqReg" type="mfx11:ProdSvcInqReg_Type" />
  <xsd:element name="CIC" type="mfx11:CIC_Type" />
  <xsd:element name="ClsEstFamCod" type="mfx11:ClsEstFamCod_Type" />
  <xsd:element name="ClsEstFamDes" type="xsd:string" />
  <xsd:element name="ClsEstFamTp" type="mfx11:ClsEstFamTp_Type" />
  <xsd:element name="ClsEstFamTpDes" type="xsd:string" />
  <xsd:element name="ClsEstProdDes" type="xsd:string" />
  <xsd:element name="ClsEstSubProdCod" type="mfx11:ClsEstSubProdCod_Type" />
  <xsd:element name="ClsEstSubProdDes" type="xsd:string" />
  <xsd:element name="CtaCls2Cod" type="xsd:string" />
  <xsd:element name="CtaCls2Des" type="xsd:string" />
  <xsd:element name="CtaCls3Cod" type="xsd:string" />
  <xsd:element name="CtaCls3Des" type="xsd:string" />
  <xsd:element name="CtaEmpleadoTp" type="xsd:string" />
  <xsd:element name="CtdDoc" type="xsd:long" />
  <xsd:element name="Des" type="xsd:string" />
  <xsd:element name="FecApertura" type="mfx11:FecHr" />
  <xsd:element name="Id" type="xsd:string" />
  <xsd:element name="IDC" type="mfx11:IDC_Type" />
  <xsd:element name="MonDes" type="xsd:string" />
  <xsd:element name="Mto" type="mfx11:Mto_Type" />
  <xsd:element name="MtoDisp" type="mfx11:MtoMon_Type" />
  <xsd:element name="MtoGaran" type="mfx11:MtoMon_Type" />
  <xsd:element name="MtoInicial" type="mfx11:MtoMon_Type" />
  <xsd:element name="MtoIntTot" type="mfx11:MtoMon_Type" />
  <xsd:element name="MtoMon" type="mfx11:MtoMon_Type" />
  <xsd:element name="MtoTot" type="mfx11:MtoMon_Type" />
  <xsd:element name="MtoUsado" type="mfx11:MtoMon_Type" />
  <xsd:element name="MtoUsadoLst" type="mfx11:MtoUsadoLst_Type" />
  <xsd:element name="MultProdTp" type="xsd:string" />
  <xsd:element name="ProdNroEdit" type="mfx11:ProdNroEdit_Type" />
  <xsd:element name="ProdStatusCod" type="xsd:string" />
  <xsd:element name="ProdStatusDes" type="xsd:string" />
  <xsd:element name="ProdSvc" type="mfx11:ProdSvc_Type" />
  <xsd:element name="ProdSvcCod" type="xsd:string" />
  <xsd:element name="ProdSvcLst" type="mfx11:ProdSvcLst_Type" />
  <xsd:element name="ProdSvcTp" type="xsd:string" />
  <xsd:element name="Saldo" type="mfx11:Saldo_Type" />
  <xsd:element name="SaldoLst" type="mfx11:SaldoLst_Type" />
  <xsd:element name="SaldoMto" type="mfx11:MtoMon_Type" />
  <xsd:element name="SaldoTp" type="xsd:string" />
  <xsd:element name="SvcSelector" type="mfx11:SvcSelector_Type" />
  <xsd:element name="TagNom" type="xsd:string" />
  <xsd:element name="TagTemporal" type="mfx11:TagTemporal_Type" />
  <xsd:element name="TagTemporalLst" type="mfx11:TagTemporalLst_Type" />
  <xsd:element name="TagVal" type="xsd:string" />
  <xsd:element name="TioAuxCod" type="mfx11:TioAuxCod_Type" />
  <xsd:element name="TioAuxDes" type="xsd:string" />
  <xsd:simpleType name="CIC_Type">
    <xsd:restriction base="xsd:string">
      <xsd:length value="12" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ClsEstFamCod_Type">
    <xsd:restriction base="xsd:string">
      <xsd:length value="3" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ClsEstFamTp_Type">
    <xsd:restriction base="xsd:string">
      <xsd:length value="1" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ClsEstSubProdCod_Type">
    <xsd:restriction base="xsd:string">
      <xsd:length value="3" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="IDC_Type">
    <xsd:restriction base="xsd:string">
      <xsd:length value="16" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Mto_Type">
    <xsd:restriction base="xsd:decimal">
      <xsd:fractionDigits value="4" />
      <xsd:minInclusive value="-99999999999999.9999" />
      <xsd:maxInclusive value="99999999999999.9999" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="MtoMon_Type">
    <xsd:sequence>
      <xsd:element ref="mfx11:Mto" />
      <xsd:element minOccurs="0" ref="mfx11:MonCod" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MtoUsadoLst_Type">
    <xsd:sequence>
      <xsd:element ref="mfx11:Ctd" />
      <xsd:element maxOccurs="unbounded" ref="mfx11:MtoUsado" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="ProdNroEdit_Type">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="22" />
      <xsd:pattern value="([0-9a-zA-Z]+-[0-9a-zA-Z]+-[0-9a-zA-Z]+)|([0-9a-zA-Z]+-[0-9a-zA-Z]+-[0-9a-zA-Z]+-[0-9a-zA-Z]+)" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="ProdSvc_Type">
    <xsd:sequence>
      <xsd:element minOccurs="0" ref="mfx11:StatusCod" />
      <xsd:element minOccurs="0" ref="mfx11:StatusDes" />
      <xsd:element minOccurs="0" ref="mfx11:ProdNro" />
      <xsd:element minOccurs="0" ref="mfx11:ProdNroEdit" />
      <xsd:element minOccurs="0" ref="mfx11:ClsEstFamTp" />
      <xsd:element minOccurs="0" ref="mfx11:ClsEstFamTpDes" />
      <xsd:element minOccurs="0" ref="mfx11:ClsEstFamCod" />
      <xsd:element minOccurs="0" ref="mfx11:ClsEstFamDes" />
      <xsd:element minOccurs="0" ref="mfx11:ClsEstProdCod" />
      <xsd:element minOccurs="0" ref="mfx11:ClsEstProdDes" />
      <xsd:element minOccurs="0" ref="mfx11:ClsEstSubProdCod" />
      <xsd:element minOccurs="0" ref="mfx11:ClsEstSubProdDes" />
      <xsd:element minOccurs="0" ref="mfx11:TioAuxCod" />
      <xsd:element minOccurs="0" ref="mfx11:TioAuxDes" />
      <xsd:element minOccurs="0" ref="mfx11:MultProdTp" />
      <xsd:element minOccurs="0" ref="mfx11:ProdStatusCod" />
      <xsd:element minOccurs="0" ref="mfx11:ProdStatusDes" />
      <xsd:element minOccurs="0" ref="mfx11:CtdDoc" />
      <xsd:element minOccurs="0" ref="mfx11:MtoMon" />
      <xsd:element minOccurs="0" ref="mfx11:MonCod" />
      <xsd:element minOccurs="0" ref="mfx11:MonDes" />
      <xsd:element minOccurs="0" ref="mfx11:SaldoLst" />
      <xsd:element minOccurs="0" ref="mfx11:MtoInicial" />
      <xsd:element minOccurs="0" ref="mfx11:MtoIntTot" />
      <xsd:element minOccurs="0" ref="mfx11:MtoTot" />
      <xsd:element minOccurs="0" ref="mfx11:MtoDisp" />
      <xsd:element minOccurs="0" ref="mfx11:MtoGaran" />
      <xsd:element minOccurs="0" ref="mfx11:MtoUsadoLst" />
      <xsd:element minOccurs="0" ref="mfx11:FecApertura" />
      <xsd:element minOccurs="0" ref="mfx11:CtaEmpleadoTp" />
      <xsd:element minOccurs="0" ref="mfx11:CtaCls2Cod" />
      <xsd:element minOccurs="0" ref="mfx11:CtaCls2Des" />
      <xsd:element minOccurs="0" ref="mfx11:CtaCls3Cod" />
      <xsd:element minOccurs="0" ref="mfx11:CtaCls3Des" />
      <xsd:element minOccurs="0" ref="mfx11:TagTemporalLst" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ProdSvcLst_Type">
    <xsd:sequence>
      <xsd:element minOccurs="0" ref="mfx11:Ctd" />
      <xsd:element maxOccurs="unbounded" ref="mfx11:ProdSvc" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Saldo_Type">
    <xsd:sequence>
      <xsd:element ref="mfx11:SaldoTp" />
      <xsd:element ref="mfx11:SaldoMto" />
      <xsd:element minOccurs="0" ref="mfx11:FecVct" />
      <xsd:element minOccurs="0" ref="mfx11:Des" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SaldoLst_Type">
    <xsd:sequence>
      <xsd:element ref="mfx11:Ctd" />
      <xsd:element maxOccurs="unbounded" ref="mfx11:Saldo" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="SvcSelector_Type">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="TagTemporal_Type">
    <xsd:sequence>
      <xsd:element ref="mfx11:TagNom" />
      <xsd:element ref="mfx11:TagVal" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TagTemporalLst_Type">
    <xsd:sequence>
      <xsd:element ref="mfx11:Ctd" />
      <xsd:element maxOccurs="unbounded" ref="mfx11:TagTemporal" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="TioAuxCod_Type">
    <xsd:restriction base="xsd:string">
      <xsd:length value="6" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="ProdSvcInqRef_Type">
    <xsd:sequence>
      <xsd:element ref="mfx11:SvcSelector" />
      <xsd:element minOccurs="0" ref="mfx11:CIC" />
      <xsd:element minOccurs="0" ref="mfx11:IDC" />
      <xsd:element minOccurs="0" ref="mfx11:ProdNro" />
      <xsd:element ref="mfx11:ProdSvcCod" />
      <xsd:element minOccurs="0" ref="mfx11:ProdSvcTp" />
      <xsd:element minOccurs="0" ref="mfx11:Id" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ProdSvcInqReg_Type">
    <xsd:sequence>
      <xsd:element minOccurs="0" ref="mfx11:ProdSvcTp" />
      <xsd:element minOccurs="0" ref="mfx11:Id" />
      <xsd:element minOccurs="0" ref="mfx11:ProdSvcLst" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ProdSvcInqRq_Type">
    <xsd:sequence>
      <xsd:element minOccurs="0" ref="mfx11:RqUID" />
      <xsd:element ref="mfx11:MsjRqHdr" />
      <xsd:element minOccurs="0" ref="mfx11:ProdSvcInqRef" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ProdSvcInqRs_Type">
    <xsd:sequence>
      <xsd:element ref="mfx11:Status" />
      <xsd:element minOccurs="0" ref="mfx11:RqUID" />
      <xsd:element minOccurs="0" ref="mfx11:MsjRsHdr" />
      <xsd:element minOccurs="0" ref="mfx11:ProdSvcInqReg" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MFX_ProdSvcInq_Type">
    <xsd:sequence>
      <xsd:element minOccurs="0" ref="mfx11:ProdSvcInqRq" />
      <xsd:element minOccurs="0" ref="mfx11:ProdSvcInqRs" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ProdSvcInqRq" type="mfx11:ProdSvcInqRq_Type" />
  <xsd:element name="ProdSvcInqRs" type="mfx11:ProdSvcInqRs_Type" />
  <xsd:element name="MFX_ProdSvcInq" type="mfx11:MFX_ProdSvcInq_Type" />
</xsd:schema>